<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header no-border>
                <ion-toolbar color="secondary">
                    <ion-title color="tertiary">Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>{{p.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-item (click)="logOut()">
                    <ion-icon color="primary" slot="start" name="log-out"></ion-icon>
                    <ion-label><strong>Log Out</strong></ion-label>
                </ion-item>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>